.note {
  border: 1px solid white;
  transform: rotateY(180deg);
  background-image: radial-gradient(
    95.74% 95.74% at 95.71% 2.13%,
    #ffffff 0%,
    #a115b8 100%
  );

  height: var(--note-height);

  box-sizing: border-box;
}
