node_modules
.env.production
.auth-cert
dist
yarn-error.log
assets
.DS_Store
screenshots
videos
packages/frontend/src/generated/graphql.ts
packages/game-data/src/graphql/gen/nxs.gen.ts
packages/game-data/src/graphql/schema.graphql
packages/frontend/src/output.css
packages/game-data/tmp/editing.txt
packages/marketing/src/output.css
packages/frontend/static/*.wav
packages/frontend/static/*.mp3
