html,
body,
#app {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='60' patternTransform='scale(2) rotate(155)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M29.998 26.65v6.693zm-6.837 3.347h3.488zm10.185 0h3.489zm0 0a3.349 3.346 0 01-3.348 3.346 3.349 3.346 0 01-3.349-3.346 3.349 3.346 0 013.349-3.346 3.349 3.346 0 013.348 3.346zm-3.173-6.832c-1.978-.032-3.976.786-5.29 2.287-1.986 2.163-2.275 5.629-.727 8.113 1.45 2.442 4.522 3.736 7.287 3.116 3.067-.607 5.45-3.561 5.392-6.684.045-2.643-1.642-5.173-4.042-6.245a6.489 6.489 0 00-2.62-.587zM59.995 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368 45.447c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM59.995-7.13V7.12zM45.438-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869C44.876-5.078 44.26 2.3 47.556 7.59c3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005-7.13V7.12zM-14.562-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368-14.553c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249z'  stroke-width='0.5' stroke='hsla(199, 98%, 48%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
}

:root {
  --note-height: 50px;
  --col-width: 60px;

  --track-bg: #150d10;
  --root-bg: #4d4c4a;
  --target-height: calc(var(--note-height) - 5px);

  --judgment-bounce: 1.15;
}

#game-app {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#debug {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 0.75rem;
}

:root {
  --blue: rgb(30, 44, 152);
  --dark: rgb(31, 24, 72);
}
.note {
  height: var(--note-height);
  width: 95%;

  box-sizing: border-box;
  position: absolute;
  font-size: 3rem;

  border: 1px solid #a8bdc7;
  background: #a8bdc7;
}

.note-1,
.note-4 {
  background: #0a6ed6;
}

@keyframes target-flash {
  0% {
    box-shadow: 0px 0px 5px 5px white;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes note-hit-flash {
  0% {
    box-shadow: 0px 0px 20px 15px white;
  }
  100% {
    box-shadow: none;
  }
}

.target-col {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.target-col-el {
  outline: 1px solid lightblue;
  outline-offset: -3px;
}

.target-col-flash {
  animation: target-flash 0.5s;
}

.target-col-flash-note-hit {
  animation: note-hit-flash 0.5s;
}

.col {
  height: 100vh;
  width: var(--col-width); /*100%;*/
}

.col {
  background: rgb(58 80 90);
  border-right: 1px solid black;
}

#col-0 {
  border-left: 1px solid black;
}

#col-1,
#col-4 {
  background: rgb(13 78 104);
}

#targets {
  position: relative;
  display: flex;
  justify-content: center;
  height: var(--target-height);
  width: calc(var(--col-width) * 6);
  z-index: 10;
  height: 100vh;
}

#target-line {
  height: var(--target-height);
  width: calc(var(--col-width) * 6);
  top: 100px;
  position: absolute;
  display: flex;
}

@keyframes judgement {
  0% {
    transform: scaleX(var(--judgment-bounce)) scaleY(var(--judgment-bounce));
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

#timing,
#combo {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
}

#timing {
  position: absolute;
  text-shadow: 0px 0px 30px black;
  top: 250px;
  font-size: 3rem;
}

#combo {
  position: absolute;
  top: 200px;
  font-size: 1.75rem;
  color: white;
}

.timing-absolute,
.timing-perfect,
.timing-great {
  animation: judgement 0.1s;
}

.timing-absolute {
  color: #ffb2ff;
}

.timing-perfect {
  color: lightblue;
}

.timing-great {
  color: lightgreen;
}
