html,
body,
#app {
  margin: 0;
  padding: 0;
}

:root {
  --note-width: 100px;
  --note-height: 50px;

  --track-bg: #150d10;
  --root-bg: #4d4c4a;
  --target-height: calc(var(--note-height) - 5px);
}

#app {
  background: var(--root-bg);
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#start,
#stop,
#debug {
  position: absolute;
}

#start,
#stop {
  top: 5px;
}
#debug {
  top: 30px;
}

#start,
#debug {
  left: 5px;
}
#stop {
  left: 55px;
}

.note {
  height: var(--note-height);
  width: var(--note-width);

  background: var(--root-bg);
  border-radius: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  position: absolute;
  font-size: 3rem;
}

@keyframes target-flash {
  0% {
    box-shadow: 0px 0px 5px 5px white;
  }
  100% {
    box-shadow: none;
  }
}

.target-col {
  width: 100%;
}

.target-col-flash {
  animation: target-flash 0.5s;
}

.col {
  background: var(--track-bg);
  height: 100vh;
  width: 100%;
  margin: 0 2px;
}

#targets {
  position: relative;
  display: flex;
  justify-content: center;
  height: var(--target-height);
  width: calc(var(--note-width) * 4);
  z-index: 10;
}

#target-line {
  height: var(--target-height);
  top: 50px;
  position: absolute;
  box-shadow: 0px 0px 2px 2px white;
  display: flex;
  background: var(--track-bg);
  width: 100%;
}

#timing {
  position: absolute;
  top: 101px;
  font-size: 4rem;
}

.perfect {
  color: lightblue;
}

.great {
  color: lightgreen;
}
