:root {
  --col-width: max(calc(100vw / 30), 50px);
  /* TODO: Does it make sense to scale the notes on the Y axis, too? */
  /* --note-height: calc(100vh / 20); */
  --note-height: 40px;

  --track-bg: #150d10;
  --root-bg: #4d4c4a;
  --target-height: calc(var(--note-height) - 5px);

  --judgment-bounce: 1.15;
}

.note {
  position: absolute;
  width: 95%;
  z-index: 5;
}
